head{

    background-color:  rgb(186, 225, 240);
}

body{

   background-color:  rgb(186, 225, 240); 

   #Welcome{
    color: rgb(47, 151, 151);
    font-family:Arial, Helvetica, sans-serif
   }

   #PL{
    color: rgb(6, 122, 122);
   }
   
   #BeeMovie{
    border: 2px dotted;
    width: 850px;
    height: 350px;
    background: rgb(132, 188, 208);

    color: rgb(136, 9, 171);
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
   }
}